* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.game-table {
    border: 1.5px solid #000;
    width: 30rem;
    height: 30rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background: #fff;
}

button {
    border: 1px solid #000;
    background-color: #fff;
}

button .fa-bomb {
    color: red;
    font-size: 2em;
    display: none;
}

.bosXana {
    background: #fff;

}

.bosXana.clicked {
    background-color: green;
}

button:hover {
    cursor: pointer;
    background-color: #eee;
}